[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
immutabledict = "*"
regex = "*"
cachetools = "*"
fire = "*"

[dev-packages]
pytest = "*"
pytest-pylint = "*"
pytest-flake8 = "*"
pylint = "*"
flake8 = "==3.*"  # https://github.com/tholo/pytest-flake8/issues/81
